<app-navbar></app-navbar>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-6">
                    <img id="layout" src="http://via.placeholder.com/445x300">
                    <div class="form-group">
                        <input type="file" id="layout-input">
                        <input type="text" class="form-control" placeholder="배치도 첨부하기">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="list-group">
                        <div class="list-group-item">
                            <p class=" pull-left">A1</p>
                            <p class="pull-right"><i class="material-icons">delete</i></p>
                            <div class="list-group-separator"></div>
                        </div>

                        <div class="list-group-item">
                            <p class=" pull-left">A2</p>
                            <p class="pull-right"><i class="material-icons">delete</i></p>
                            <div class="list-group-separator"></div>
                        </div>
                    </div>
                    <div class="pull-right">
                        <button class="btn btn-raised btn-info">공간 추가</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-body">
            <div class="list-group">
                <div class="manager list-group-item">
                    <div class="row">
                        <div class="col-lg-3">
                            <p>20120350</p>
                        </div>
                        <div class="col-lg-3">
                            <p>김종현</p>
                        </div>
                        <div class="col-lg-3">
                            <p>학생회</p>
                        </div>
                        <div class="col-lg-3">
                            <p class="pull-right"><i class="material-icons">delete</i></p>
                        </div>
                    </div>
                    <div class="list-group-separator"></div>
                </div>
                <div class="manager list-group-item">
                    <div class="row">
                        <div class="col-lg-3">
                            <p>20122053</p>
                        </div>
                        <div class="col-lg-3">
                            <p>손우규</p>
                        </div>
                        <div class="col-lg-3">
                            <p>학생회장</p>
                        </div>
                        <div class="col-lg-3">
                            <p class="pull-right"><i class="material-icons">delete</i></p>
                        </div>
                    </div>
                    <div class="list-group-separator"></div>
                </div>
            </div>
            <div class="pull-right">
                <button class="btn btn-raised btn-info">관리자 추가</button>
            </div>
        </div>
    </div>
</div>