.list-group-item-heading {
    margin: 22px 0;
    text-align: center;
}

.graph-background {
    height: 31px;
    margin: 4px 0;
    background-color: #EEEEEE;
    .graph {
        width: 8.333%;
        height: 30px;
        padding: 5px 0;
        display: inline-block;
        text-align: center;
        &.booked {
            background-color: #2196F3;
        }
        &.disabled {
            opacity: 0.3;
        }
    }
}
