<div class="row">
    <div class="col-lg-1 col-md-1 col-sm-1">
        <h4 class="list-group-item-heading">{{ section }}</h4>
    </div>
    <div class="col-lg-11 col-md-11 col-sm-11">
        <div class="graph-background">
            <div class="graph" [ngClass]="{'booked': time, 'disabled': disabled}" *ngFor="let time of timeTable | slice:0:12; let i = index" (click)="selectBookingTime( i )">
                <p>{{ i }}</p>
            </div>
        </div>
        <div class="graph-background">
            <div class="graph" [ngClass]="{'booked': time, 'disabled': disabled}" *ngFor="let time of timeTable | slice:12:24; let i = index" (click)="selectBookingTime( i + 12 )">
                <p>{{ i + 12 }}</p>
            </div>
        </div>
    </div>
</div>