<div class="row">
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        <h4 class="list-group-item-heading">{{ title }}</h4>
    </div>
    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
        <div class="graph-background">
            <div class="graph" [ngClass]="{'active': time}" *ngFor="let time of timeTable; let i = index">
                {{ i }}
            </div>
        </div>
        <div class="graph-background">
            <div class="graph" [ngClass]="{'active': time}" *ngFor="let time of timeTable; let i = index">
                {{ i + 12 }}
            </div>
        </div>
    </div>
</div>