<app-navbar></app-navbar>

<div class="container">
    <div class="alert alert-dismissible alert-warning">
        <h4>경 고!</h4>
        <p>관리자의 월권 행위 일 수도 있습니다. 정해진 규칙에 따라 신중히 사용 하시길 바랍니다.</p>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <h3>예약 취소</h3>
        </div>
        <ul class="list-group">
            <li class="list-group-item">
                <div class="row">
                    <p class="col-lg-3">
                        <a>예약자 학번</a>
                    </p>
                    <p class="col-lg-2">2017-02-02</p>
                    <p class="col-lg-2">2017-02-03</p>
                    <p class="col-lg-3">취소자 이름</p>
                    <p class="col-lg-2">2017-07-17</p>
                </div>
                <div class="list-group-separator"></div>
            </li>
        </ul>
    </div>
    <div class="text-center">
        <pagination></pagination>
    </div>
</div>