<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" [routerLink]="['/main']">330 예약 시스템</a>
        </div>
        <form class="navbar-form navbar-right" *ngIf="!isLogin" [formGroup]="loginFormGroup"
              (keydown.enter)="login(loginFormGroup)">
            <input type="text" class="form-control" placeholder="아이디" formControlName="id">
            <input type="password" class="form-control" placeholder="비밀번호" formControlName="password">
        </form>
        <ul class="nav navbar-nav navbar-right" *ngIf="isLogin">
            <li>
                <a [routerLink]="['/admin']" *ngIf="isAdmin">관리자 페이지</a>
            </li>
            <li>
                <a>{{id}} 님</a>
            </li>
        </ul>
    </div>
</nav>
