<app-navbar></app-navbar>
<div class="container">
    <div class="alert alert-dismissible alert-warning">
        <h4>경 고!</h4>
        <p>관리자의 월권 행위 일 수도 있습니다. 정해진 규칙에 따라 신중히 사용 하시길 바랍니다.</p>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <h3 class="page-header">예약 취소</h3>
            <div class="row">
                <div class="col-lg-1">
                    <p class="text-muted">예약 시간</p>
                </div>
                <div class="col-lg-3">
                    <p>02.02 07:00 ~ 02.02 08:00</p>
                </div>
                <div class="col-lg-1">
                    <p class="text-muted">예약자</p>
                </div>
                <div class="col-lg-2">
                    <p>예약자 학번</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-1">
                    <p class="text-muted">취소자</p>
                </div>
                <div class="col-lg-3">
                    <p>취소자 이름</p>
                </div>
                <div class="col-lg-1">
                    <p class="text-muted">취소 일자</p>
                </div>
                <div class="col-lg-2">
                    <p>2017-07-07</p>
                </div>
            </div>
            <div class="pull-right">
                <button class="btn btn-raised btn-danger">취소</button>
                <button class="btn btn-raised btn-primary">이전</button>
            </div>
        </div>
    </div>
</div>