<app-navbar></app-navbar>
<div class="container" *ngIf="punishList$ | async as punishList">
    <div class="panel panel-default">
        <div class="panel-body">
            <h3>제재 현황</h3>
        </div>
        <ul class="list-group">
            <li class="list-group-item head">
                <div class="row">
                    <p class="col-lg-4">제재자 학번</p>
                    <p class="col-lg-3">처리자 이름</p>
                    <p class="col-lg-3">처리 결과</p>
                    <p class="col-lg-2">처리 일자</p>
                </div>
                <div class="list-group-separator"></div>
            </li>
            <li class="list-group-item"
                *ngFor="let punish of punishList | slice:(currentPage - 1):(currentPage + itemPerPage - 1)">
                <div class="row">
                    <p class="col-lg-4">{{ punish.prebooker }}</p>
                    <p class="col-lg-3">{{ punish.manager }}</p>
                    <p class="col-lg-3">{{ punish.result }}</p>
                    <p class="col-lg-2">{{ punish.start_date | date:'yyyy-MM-dd'}}</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="text-center">
        <pagination [nextText]="'다음'" [previousText]="'이전'" [totalItems]="punishList.length" [(ngModel)]="currentPage"
                    [itemsPerPage]="itemPerPage"></pagination>
    </div>
</div>