<app-navbar></app-navbar>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <h3>제재 현황</h3>
        </div>
        <ul class="list-group">
            <li class="list-group-item">
                <div class="row">
                    <p class="col-lg-7">제재자 이름</p>
                    <p class="col-lg-3">처리 결과</p>
                    <p class="col-lg-2">2017-07-17</p>
                </div>
                <div class="list-group-separator"></div>
            </li>
        </ul>
    </div>
</div>