<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <div id="summernote">Hello Summernote</div>
            <button class="btn btn-raised btn-default" (click)="submit()">확인</button>

            <p><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAAAAXNSR…KwXvSXKpsiBHSdbfBpQyqeGlIWL/nBBbQAkKeQFWOgitkFH9dg5B0Q3dwAAAAASUVORK5CYII=" data-filename="favicon.png" style="width: 16px;">Hello Summernote</p>
        </div>
    </div>
</div>
