.preview-wrapper {
    height: 100px;
    display: table-cell;
    vertical-align: middle;
    .preview {
        padding: 0 20px;
        max-width: 100px;
        max-height: 100px;
    }
}

.hint {
    font-size: 12px;
    margin: 0;
    text-align: right;
}