<div class="panel panel-default">
    <div class="panel-heading">
        <ul class="nav nav-tabs">
            <li><a (click)="switchDate('today')">Today</a></li>
            <li><a (click)="switchDate('tomorrow')">Tomorrow</a></li>
        </ul>
    </div>
    <div class="panel-body">
        <h2>예약 현황 ({{ date }})</h2>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let section of sectionList">
                <app-usage-graph [title]="section" [disabled]="selectedTitle !== '' && selectedTitle !== section" (selected)="selectedTitle = $event"></app-usage-graph>
            </li>
        </ul>
    </div>
</div>
