<div class="panel panel-default">
    <div class="panel-heading">
        <ul class="nav nav-tabs">
            <li><a (click)="switchDate('today')">Today</a></li>
            <li><a (click)="switchDate('tomorrow')">Tomorrow</a></li>
        </ul>
    </div>
    <div class="panel-body">
        <h2>예약 현황 ({{ date }})</h2>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let section of sectionList">
                <app-usage-graph [section]="section" [disabled]="selectedSection !== '' && selectedSection !== section" (selectedSection)="selectedSection = $event" (selectedTimeOutput)="selectedTime = $event"></app-usage-graph>
            </li>
            <button class="btn btn-raised btn-primary pull-right" (click)="book()">예약 하기</button>
        </ul>
    </div>
</div>