<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <a [routerLink]="['/admin/report']">신고 현황</a>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="row">
                                <p class="col-lg-5">
                                    <a [routerLink]="['/admin/report/1']">신고 제목</a>
                                </p>
                                <p class="col-lg-4">처리 결과</p>
                                <p class="col-lg-3">2017-07-17</p>
                            </div>
                            <div class="list-group-separator"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <a [routerLink]="['/admin/punish']">제재 현황</a>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="row">
                                <p class="col-lg-5">제재자 이름</p>
                                <p class="col-lg-4">예약 정지 3일</p>
                                <p class="col-lg-3">2017-07-17</p>
                            </div>
                            <div class="list-group-separator"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <a [routerLink]="['/admin/cancel']">예약 취소</a>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="row">
                                <p class="col-lg-5">예약자 학번</p>
                                <p class="col-lg-4">예약 취소자 이름</p>
                                <p class="col-lg-3">2017-07-17</p>
                            </div>
                            <div class="list-group-separator"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
