.panel-heading a {
    color: #E7DFF3
}

.list-group-item {
    margin: 5px 0;
}

.report-title {
    margin-bottom: 5px;
    a {
        display: inline-block;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}