<app-navbar></app-navbar>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">마이페이지</div>
    <div class="panel-body"><h3>예약현황</h3></div>
    <ul class="list-group">
      <li class="list-group-item">
        <div class="row-lg">
            <p class="col-lg-3"></p>
            <p class="col-lg-3">예약날짜</p>
            <p class="col-lg-3">예약시간</p>
            <p class="col-lg-3">예약취소</p>
        </div>
        <div class="list-group-separator"></div>
        <div class="row-lg">
            <p class="col-lg-3">1</p>
            <p class="col-lg-3">2017년 08월 01일</p>
            <p class="col-lg-3">18:00 ~ 22:00</p>
            <p class="col-lg-3"><button>예약취소</button></p>
        </div>
      </li>
    </ul>
  </div>
</div>