.material-icons {
    cursor: pointer;
}

.list-group-item.head {
    p {
        margin-bottom: 5px;
        font-size: 16px;
    }
    .list-group-separator {
        margin-top: 0;
        margin-bottom: 10px;
    }
}

@media (max-width: 767px) {
    .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-12 {
        padding: 0;
    }
}