<app-navbar></app-navbar>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">마이페이지</div>
    <div class="panel-body">
      <h3>예약현황</h3><br/>
      <div class="row-lg">
          <table width="1000px">
            <tr>
                  <th>이거뭐라그러징</th>
                  <th>예약날짜</th>
                  <th>예약시간</th>
                  <th>예약취소</th>
            </tr>
            <tr>
                  <td>1</td>
                  <td>2017. 08. 01</td>
                  <td>18:00 ~ 22:00</td>
                  <td><button>예약취소</button></td>
            </tr>
          </table>
      </div>
  </div>
  </div>
</div>