<app-navbar></app-navbar>
<div class="container">
  <div class="panel panel-primary">
    <div class="panel-body">
      <h3>마이페이지</h3>
    </div>
    <ul class="list-group">
      <li class="list-group-item">
        <div class="row-lg">
            <p class="col-lg-5">예약날짜</p>
            <p class="col-lg-5">예약시간</p>
            <p class="col-lg-2">예약취소</p>
        </div>
        <div class="list-group-separator"></div> 
      </li>
      <li class="list-group-item">
        <div class="row-lg">
            <p class="col-lg-5">2017년 8월 1일</p> 
            <p class="col-lg-5">18:00 ~ 23:00</p>
            <p class="col-lg-2"><button class="btn btn-raised btn-primary">예약취소</button></p>
        </div>
      </li>
    </ul>
  </div>
</div>