<footer class="footer">
    <p>본 페이지는 금오공과대학교 소프트웨어공학과 학생회에 의해 관리됩니다.</p>
    <p>관리자 연락처 : 010-0000-0000</p>
    <p>
        본 페이지는
        <a href="https://github.com/grapgrap">@grapgrap</a>
        <a href="https://github.com/gurobooru">@gurobooru</a>
        <a href="https://github.com/orgs/kit-se/people/zu0p">@zu0p</a>
        에 의해 만들어졌습니다.
    </p>
    <p>
        코드는
        <a href="https://github.com/twbs/bootstrap/blob/master/LICENSE">MIT</a>,
        문서는
        <a href="https://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>에
        의거하여 허락합니다.
    </p>
</footer>