<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <img id="layout" *ngIf="layoutUrl$ | async as layout" [src]="layout">
                <div class="row">
                    <div class="col-lg-9 col-md-9 col-sm-7 col-xs-7">
                        <div class="form-group">
                            <input type="file" (change)="this.layoutFile = $event.target.files[0]">
                            <input type="text" readonly="" class="form-control" placeholder="배치도 첨부">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-5 col-xs-5">
                        <button class="btn btn-raised btn-primary" (click)="postLayout()">첨부하기</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="list-group">
                    <div class="list-group-item" *ngFor="let section of sectionList$ | async">
                        <p class=" pull-left">{{ section.name }}</p>
                        <p class="pull-right"><i class="material-icons" (click)="deleteSection( section.id )">delete</i>
                        </p>
                        <div class="list-group-separator"></div>
                    </div>
                    <div class="list-group-item">
                        <div class="form-group" [formGroup]="sectionForm">
                            <input type="text" class="form-control" placeholder="섹션 이름" formControlName="name"
                                   *ngIf="isAdding">
                        </div>
                    </div>
                </div>
                <div class="pull-right">
                    <button type="button" class="btn btn-raised btn-primary" *ngIf="!isAdding"
                            (click)="isAdding = true">공간 추가
                    </button>
                    <button type="button" class="btn btn-raised btn-primary" *ngIf="isAdding"
                            (click)="addSection( sectionForm.value )">
                        확인
                    </button>
                    <button type="button" class="btn btn-raised btn-danger" *ngIf="isAdding" (click)="isAdding = false">취소</button>
                </div>
            </div>
        </div>
    </div>
</div>